body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensure body takes full viewport height */
}

body.background {
    background-image: url('images/body-bg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Ensure background covers full viewport height */
}

/*
#######################################################################################################
    Index.html Section Styles
#######################################################################################################
*/

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    text-align: left;
}

.hero img {
    max-width: 100%;
    height: auto;
}

.hero .hero-text {
    width: 45%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.hero button:hover {
    background-color: #0056b3;
}

/*
#######################################################################################################
    Index.html carousel styles
#######################################################################################################
*/

#carousel {
    width: 500px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin-left: 100px;
    border: 5px solid black;
    border-radius: 30px;
}

#carousel img {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#carousel img.active {
    display: block;
    animation: fadeIn 1s forwards;
}

#carousel img.inactive {
    animation: fadeOut 1s forwards;
}

#carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

#carousel-button-prev,
#carousel-button-next {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    color: black;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    width: 50px;
}

#carousel-button-prev:hover,
#carousel-button-next:hover {
    background-color: rgba(255, 255, 255, 0.7);
}
/*
#######################################################################################################
    products.html styles
#######################################################################################################
*/

.products {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 20px;
    width: fit-content;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0px;
    padding: 20px;
    text-align: center;
    width: 300px;
    transition: transform 0.3s ease;
    background-color: rgba(55, 149, 193, 0.1);
}

.product-card:hover {
    transform: scale(1.05); 
    cursor: pointer;
    background-color: rgba(55, 149, 193, 0.5);
}

.product-card img {
    width: 200px;
    height: 200px;
    object-fit: fill;
}

.product-card button {
    margin-top: 10px;
}

button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

nav {
    display: flex;
    align-items: center;
    background-color: powderblue;
    padding: 10px 10px;
    background-image: url('images/header.png');
    height: 100px;
    background-size: contain;
}

.nav-title {
    flex: 1;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5em;
}

.nav-title a {
    text-decoration: none;
    color: #333;
}


nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center; 
    align-items: center;
    flex: 2; 
}

nav ul li {
    margin-top: 5px;
}

nav ul li.cart-button {
    margin-left: auto;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
    padding: 5px;
}

.cart-button {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.cart-button img {
    width: 50px;
    height: 50px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    border-radius: 30px;
}

.modal-content {
    position: relative;
    background-color: powderblue;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


.close {
    color: #aaa;
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
}

.cart-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #e2e8f0;
    background-color: #fff;
    width: 800px;
    margin: 0 auto;
    flex-direction: row;
}

.cart-item img {
    width: 50px; 
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.cart-item h3 {
    flex: 1; 
    margin: 0 10px; 
    text-align: left; 
}

.cart-item p {
    margin: 0 10px;
    text-align: left;
}

.cart-item .remove-button {
    margin-left: 10px;
}

.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cart-item h3, .cart-item p {
    color: #1a202c;
}

.remove-button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.cart-summary {
    text-align: center;
    margin-top: 20px;
}

.checkout-button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.empty-cart-message {
    text-align: center;
    font-size: 1.5em;
    color: #333;
    margin-top: 20px;
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.cart-item.removing {
    animation: slideOut 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

footer {
    background-color: #f4f4f441;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer .social-links a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

footer .social-links a:hover {
    text-decoration: underline;
}